<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryabchych Portfolio</title>
    <link rel="stylesheet" href="./riabchyk.component.css" />
  </head>
  <body>
    <div class="header">
      <div class="header-links">
        <a href="riabchyk/#information">About me</a>
        <a href="riabchyk/#skills">My skills</a>
        <a href="riabchyk/#projects">My projects</a>
        <a href="riabchyk/#contact">Contact me</a>
      </div>
      <h1 class="header-text">Software developer</h1>
    </div>

    <div class="information section" id="information">
      <h2 class="section-title">About me</h2>
      <div class="row"><span>Name: </span>Vitaly</div>
      <div class="row"><span>Last Name: </span>Ryabchich</div>
      <div class="row"><span>Age: </span>19</div>
      <div class="row"><span>Job: </span>Software Developer</div>
    </div>

    <div class="section" id="skills">
      <h2 class="section-title">My skills</h2>
      <div class="skills section">
        <div class="skill">
          <div class="skill-name">NodeJs</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 80%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">MongoDB</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 90%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">PostgreSQL</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 60%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">NestJs</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 90%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">Typescript</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 70%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">AWS</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 70%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">Firebase</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 60%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">Elasticsearch</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 70%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">Jest</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 60%"></div>
          </div>
        </div>

        <div class="skill">
          <div class="skill-name">Docker</div>
          <div class="skill-bar">
            <div class="skill-filled" style="width: 70%"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2 class="section-title">My projects</h2>
      <div class="projects" id="projects">
        <div class="project" href="" target="_blank">
          <img
            class="project-image"
            src="./../../../assets/ryabchich/project 1.png"
            alt="Project 1"
          />
          <div class="project-name">Mobile Grocery</div>
        </div>

        <div class="project" href="" target="_blank">
          <img
            class="project-image"
            src="./../../../assets/ryabchich/project 2.jpg"
            alt="Project 1"
          />
          <div class="project-name">Memory app</div>
        </div>

        <div class="project" href="" target="_blank">
          <img
            class="project-image"
            src="./../../../assets/ryabchich/project 3.png"
            alt="Project 1"
          />
          <div class="project-name">Social Media app</div>
        </div>
      </div>
    </div>

    <section class="contact-section" id="contact">
      <h2 class="section-title" style="color: white;">Contact Me</h2>
      <div class="contact-info">
        <p>Email: vitalyryabchich@gmail.com</p>
        <p>Phone: 123-456-7890</p>
      </div>
      <div class="social-media">
        <a href="https://github.com/Vitaly2233" target="_blank">Github</a>
      </div>
    </section>
  </body>
</html>
