<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pustovit Portfolio</title>
  
</head>
<body>
  <!-- Header -->
  <header>
    <h1>Andrii Pustovit</h1>
    <nav>
      <ul>
        <li><a href="pustovit/#about">About</a></li>
        <li><a href="pustovit/#skills">Skills</a></li>
        <li><a href="pustovit/#portfolio">Portfolio</a></li>
        <li><a href="pustovit/#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <!-- About Section -->
    <section id="about">
      <h2>About Me</h2>
      <p>I'm Andrii Pustovit, a programmer student specializing in developing robust web applications. With years of industry experience, I've worked on various projects, from small business websites to large-scale applications. I prioritize optimizing performance, ensuring data security, and building seamless APIs. I enjoy collaborating with frontend developers and constantly expanding my knowledge in backend technologies.</p>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <div class="skills-container">
          <div class="skill">
            <p>Flutter</p>
          </div>
          <div class="skill">
            <p>Java</p>
          </div>
          <div class="skill">
            <p>HTML</p>
          </div>
          <div class="skill">
            <p>CSS</p>
          </div>
          <div class="skill">
            <p>JavaScript</p>
          </div>
        </div>
      </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
      <h2>Portfolio</h2>
      <div class="project">
        <img src="assets/pustovit/flutter.jpg" alt="Project 1">
        <h3>Flutter word pair generator</h3>
        <p>Flutter Word Pair Generator is a compact application that generates random word pairs for users. Built using the Flutter framework, it allows users to discover and explore various word combinations by generating new pairs with each interaction. This simple and concise app serves as a practical demonstration of Flutter's capabilities and provides an engaging experience for users interested in wordplay or language-related activities.</p>
      </div>
      <div class="project">
        <img src="assets/pustovit/game.jpg" alt="Project 2">
        <h3>Game inventory demo</h3>
        <p>The Game Inventory Demo is a concise demonstration showcasing the functionality of a game inventory system. It provides a glimpse into how players can manage their in-game items, such as weapons, armor, and consumables. The demo illustrates features like item categorization, inventory organization, and basic interactions, giving users a brief overview of how a game inventory system can be implemented and utilized in a gaming application.</p>
      </div>
      <!-- Add more project sections as needed -->
    </section>

    <section id="contact">
        <h2>My Contacts</h2>
        <ul class="contacts-list">
          <li>
            <span class="contact-label">Email:</span>
            <a href="mailto:andriipustovit@gmail.com">andriipustovit@gmail.com</a>
          </li>
          <li>
            <span class="contact-label">Phone:</span>
            <a href="tel:+1234567890">+3806329XXXXX</a>
          </li>
          <li>
            <span class="contact-label">GitHub:</span>
            <a href="https://github.com/AnDrew0o">GitHub Profile</a>
          </li>
        </ul>
      </section>
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; 2023 Andrii Pustovit</p>
  </footer>
</body>
</html>
