<div id="page-wrap">
  <img src="assets/tsybenko/photo.png" alt="Photo of #fullName" id="pic" />
  <div id="contact-info" class="vcard">
    <!-- Microformats! -->
    <h1 class="fn">Цибенко В'ячеслав Олександрович</h1>
    <p>
      Cell: <span class="tel">+38(050)947-50-85</span><br />
      Email: <a class="email" href="mailto:viecheslavtsybenko95@gmail.com">viecheslavtsybenko95@gmail.com</a>
    </p>
  </div>

  <div id="objective">
    <p>
      Цибенко<br />
      В'ячеслав<br />
      Олександрович<br />
    </p>
    <h1>Автобіографія</h1>
    <!-- Заповнюємо у відповідності із власними даними -->
    <p>Я, Цибенко В'ячеслав Олександрович народився 11 червня 2003 р. у м. Черкасах</p>
    <p>Середню освіту отримав у Черкаській загальноосвітній школі №21</p>
    <p>Із вересня 2020 року по сьогодні навчаюся в Черкаському
      державному технологічному університеті за спеціальністю
      "Інженерія програмного забезпечення".</p>
  </div>

  <div class="clear"></div>
  <dl>
    <dd class="clear"></dd>
    <dt>Освіта</dt>
    <dd>
      <h2>Черкаський державний технологічний університет</h2>
      <p><strong>Період навчання: </strong>2020 - по теперішній час.<br />
        <strong>Ступінь:</strong> – 3 ступінь (бакалавр) та спеціальність 121 -"Інженерія програмного забезпечення"
      </p>
    </dd>
    <dd class="clear"></dd>
    <dt>Навички</dt>
    <dd>
      <h2>Навички з мов програмування</h2>
      <p>Досвід роботи з мовами програмування: Java - 2 роки; HTML - 1 рік; СSS - 5 місяців;
        <!-- example: Communication, Teamwork, Adaptability, Problem-Solving, Creativity... -->
      </p>
      <h2>Навички при роботі </h2>
      <p>вміння створювати веб-сторінки, Об'єктно-орієнтоване програмування, робота з базами даних на Java, основи React.
        <!-- Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Linux, MacOS, Windows... -->
      </p>
    </dd>

    <dd class="clear"></dd>

    <dt>Досвід</dt>
    <dd>
      <h2>ЧДТУ <span>студент, 2020-2024 р.</span></h2>
      <ul type="square">
        <li>Java - 2 роки;
        <li>HTML - 1 рік;</li>
        <li>СSS - 5 місяців</li>
        <li>Бази даних - 1 рік</li>
      </ul>
    </dd>

    <dd class="clear"></dd>

    <dt>Хобі</dt>
    <dd>заняття спортом
      <!-- example: play guitar/volleyball/football, painting, reading, studying... -->
    </dd>

    <dd class="clear"></dd>

    <dt>Список інформаційних джерел</dt>
    <dd>
      <h2>Заклади освіти</h2>
      <ul type="square">
        <li><a href="https://chdtu.edu.ua">Черкаський державний технологічний університет</a></li>
        <li><a href="http://sch21cks.at.ua">Черкаська загальноосвітня школа І-ІІІ ступенів №21 імені Ю.Г.
          Іллєнко</a></li>
        <li><a href="http://sch21cks.at.ua/news/?page14">Черкаська загальноосвітня школа І-ІІІ ступенів №21 імені Ю.Г.
          Іллєнко, сторінка 14</a></li>
      </ul>
      <h2>Мої проекти</h2>
      <ul type="square">


        <li><a href="https://github.com/tsybenko1523/films">Проект "Кінотеатр"</a></li>
        <img src="assets/tsybenko/films.png" class='project-image'/>

        <li><a href="https://github.com/tsybenko1523/React">Проект "Блоги" на основі React</a></li>
        <img src="assets/tsybenko/react.png" class='project-image'/>

      </ul>
    </dd>
    <dd class="clear"></dd>
  </dl>
  <div class="clear"></div>
</div>

