<div id="page-wrap">
  <img src="images/photo.png" alt="Photo of #fullName" id="pic" />
  <div id="contact-info" class="vcard">
    <!-- Microformats! -->
    <h1 class="fn">Цибенко В'ячеслав Олександрович</h1>
    <p>
      Cell: <span class="tel">+38(050)947-50-85</span><br />
      Email: <a class="email" href="mailto:viecheslavtsybenko95@gmail.com">viecheslavtsybenko95@gmail.com</a>
    </p>
  </div>

  <div id="objective">
    <p>
      Цибенко<br />
      В'ячеслав<br />
      Олександрович<br />
    </p>
    <h1>Автобіографія</h1>
    <!-- Заповнюємо у відповідності із власними даними -->
    <p>Я, Цибенко В'ячеслав Олександрович народився 11 червня 2003 р. у м. Черкасах</p>
    <p>Середню освіту отримав у Черкаській загальноосвітній школі №21</p>
    <p>Із вересня 2020 року по сьогодні навчаюся в Черкаському
      державному технологічному університеті за спеціальністю
      "Інформаційні системи та технології".</p>
  </div>

  <div class="clear"></div>
  <dl>
    <dd class="clear"></dd>
    <dt>Education</dt>
    <dd>
      <h2>Cherkasy State Technological University</h2>
      <p><strong>Date:</strong>2020 - 2024 р.<br />
        <strong>Degree:</strong> – 1 ступінь (бакалавр) та спеціальність 121 -"Інженерія програмного забезпечення
        (Бакалавр)"
      </p>
    </dd>
    <dd class="clear"></dd>
    <dt>Skills</dt>
    <dd>
      <h2>Soft skills</h2>
      <p>працьовитість, лояльність
        <!-- example: Communication, Teamwork, Adaptability, Problem-Solving, Creativity... -->
      </p>
      <h2>Hard skills</h2>
      <p>вміння програмувати, старання зрозуміти інформацію, яка сприймається
        <!-- Microsoft productivity software (Word, Excel, etc), Adobe Creative Suite, Linux, MacOS, Windows... -->
      </p>
    </dd>

    <dd class="clear"></dd>

    <dt>Experience</dt>
    <dd>
      <h2>ЧДТУ <span>студент, 2020-2024 р.</span></h2>
      <ul type="square">
        <li>вчитися в університеті</li>
        <li>відвідувати пари</li>
        <li>виконувати поставлені задачі</li>
      </ul>
    </dd>

    <dd class="clear"></dd>

    <dt>Hobbies</dt>
    <dd>заняття спортом, перегляд фільмів
      <!-- example: play guitar/volleyball/football, painting, reading, studying... -->
    </dd>

    <dd class="clear"></dd>

    <dt>References</dt>
    <dd>Available on request
      <ul type="square">
        <li><a href="https://chdtu.edu.ua">Cherkasy State Technological University</a></li>
        <li><a href="http://sch21cks.at.ua">Cherkasy comprehensive school of I-III degrees №21 named after Yu.G.
            Ilyenko</a></li>
        <li><a href="http://sch21cks.at.ua/news/?page14">Cherkasy comprehensive school of I-III degrees №21 named
            after Yu.G. Ilyenko page14</a></li>
      </ul>
    </dd>
    <dd class="clear"></dd>
  </dl>
  <div class="clear"></div>
</div>

