<!DOCTYPE html>
<html lang="en">
  <head>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap"
        rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./babich.component.css" />
  </head>
  <body>
        <div class="main-container">
            <header>
                <section class="bg-image">
                <div class="container">
                    <a class="logo">РЕЗЮМЕ</a>
                    <div class="text-container flex-column-dir">
                    <img class="resume-photo" src="./../../../assets/babich/My photo.jpg" />
                    <h1>БАБИЧ АРТУР ДЕНИСОВИЧ</h1>
                    </div>
                </div>
                </section>
            </header>
        </div>
        
        <main>
            <section class="about-container">
                <div class="container">
                    <h2>Про мене:</h2>
                    <p>
                    Привіт, я студент 3 курсу ЧДТУ, мені 20 років, переважно займаюсь веб-розробкою, непогано знаю такі мови програмування як HTML, CSS, JS. Рідко, але буває програмую на Java, C++ та Python.
                    Навчаюсь в ЧДТУ з 2020 року і завдяки гарному викладанню, вже багато в чому розуміюсь.
                    </p>
                </div>
            </section>

            <section class="skills-container">

                <div class="my-life">
                    <h2>
                        Моя освіта :</h2>
                    <p>
                        Мене звати Артур Бабич, і я з гордістю можу сказати, що я студент 3-ого курсу Черкаського державного технологічного університету. Я вибрав спеціальність програміста, оскільки комп'ютери та програмування завжди викликають у мене захоплення та інтерес.

                        Моє місто народження і ранні роки освіти пов'язані з Черкасами. Від моменту, коли я вперше сягнув клавіші комп'ютера, я зрозумів, що це те, що мене дійсно захоплює. Мої батьки підтримували мої інтереси, і я долучився до спеціалізованої школи номер 15 міста Черкаси, де я отримав відмінну основу в галузі науки, математики та інформатики.
                        
                        Після успішного закінчення школи, я вирішив продовжити свою освіту та знання в ЧДТУ. Університет виявився ідеальним місцем для розвитку моєї кар'єри програміста. Тут я зміг зануритися в світ комп'ютерних наук і отримати практичні навички в різних сферах програмування.
                        
                        Протягом трьох років навчання в університеті, я вивчив різні мови програмування, такі як Java, Python, С++, С#, TypeScript, SQL, HTML, CSS, JavaScript та інші. Я також займався розробкою веб-додатків, десктопних та мобільних додатків.
                    </p>
                </div>

            </section>

            <section class="portfolio-container">
                <div class="container">
                    <h2>ПОРТФОЛІО</h2>
                    <h3>Сайт-проект ствоерний мною</h3>

                    <a href="https://arturbabichvester.wixsite.com/my-site" class="card-link">
                        <img src="./../../../assets/babich/website.jpg" />
                        <P>Натисніть на картинку, щоб переглянути дану роботу</P>
                    </a>
                    
                     <!-- "<img src="./../../../assets/babich/website.jpg       ../../../assets/babich/website.png /" -->
                </div>


            </section>
        </main>

        <footer class="footer">
             <div class="container">
                 <div class="footer-row">

                      <div class="footer-copyright footer-col">
                         <div class="footer-copyright-name">Ⓒ Artur Babich</div>
                         <p>Студент ЧДТУ</p>
                      </div>

                      <div class="footer-icons footer-col">
                        <p>Мої соціальні профілі:</p>
                        <div class="footer-icons-row">
                            <a href="https://www.instagram.com/art.bbtch/?hl=ru">
                                <img src="./../../../assets/babich/icons/instagram.svg" alt="">
                            </a>
                            <a href="https://www.facebook.com/onbetmen/">
                                <img src="./../../../assets/babich/icons/facebook.svg" alt="">
                            </a>
                                
                         </div>
                     </div>

                    <div class="footer-contacts footer-col">
                           <a href="https://www.instagram.com/art.bbtch/?hl=ru" class="footer-button">
                               ЗВ’ЯЗАТИСЯ
                        </a>
                        <p>Напишіть мені, щоб дізнатися, як свторювати веб-сайти</p>
                    </div>
                 </div>

                  
             </div>

         </footer>

    </body>

</html>
