<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
   
        <title>Резюме Комара Максима Леонідовича</title>
        <link rel="stylesheet" type="text/css" href="./komar.component.css"/>
        
    </head>
<body>
    <header class="header" id="header">
        <h1 class="header-title">Комар Максим</h1>
        <p class="header-subtitle">бакалавр,інженер програмного забезпечення</p>
            <a class="header-arrow">
                <img src="assets/komar/header/chevron-down.svg" alt="">   
            </a>
    </header>
   
        <main>
        <section class="resume" id="resume">
            
            <div class="container-main"> 
                <h2 class="resume-header">Резюме</h2>
                <div class="container-educate">
                    <p>Освіта:</p>
                    <p>Cherkasy State Technological University</p>
                    <p><strong>Date:</strong> 2020 - 2024<br />
                </div>
            <div class="cards-wrapper">
                    <div class="card-main">
                            <a class="card-link">
                            <img class="image-card" src="assets/komar/resume/skills.jpg" alt="">
                            <h3 class="card-title">Навички</h3>
                            <p>Мої навички</p>
                            </a>
                    </div>

                    <div class="card-main">
                      <a class="card-link">
                      <img class="image-card" src="assets/komar/resume/projects.jpg" alt="">
                      <h3 class="card-title">Проекти</h3>
                      <p>Мої проекти</p>
                      </a>
                    </div>
            </div>
            </div>
        </section>

        <div class="skills-container">
            <h1 class="project-header">Навички:</h1>
           
            <div class="container">
             <div class="card">
               <div class="box">
                 <div class="percent">
                   <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                   </svg>
                       <div class="num">
                         <h2>60<span>%</span></h2>
                       </div>
                 </div>
                     <h2 class="text">Java</h2>
               </div>
             </div>
 
             <div class="card">
               <div class="box">
                 <div class="percent">
                   <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                   </svg>
                       <div class="num">
                         <h2>50<span>%</span></h2>
                       </div>
                 </div>
                     <h2 class="text">C#</h2>
               </div>
              </div>
              
              <div class="card">
               <div class="box">
                 <div class="percent">
                   <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                   </svg>
                       <div class="num">
                         <h2>60<span>%</span></h2>
                       </div>
                 </div>
                     <h2 class="text">Python</h2>
               </div>
              </div>
 
              <div class="card">
               <div class="box">
                 <div class="percent">
                   <svg>
                     <circle cx="70" cy="70" r="70"></circle>
                     <circle cx="70" cy="70" r="70"></circle>
                   </svg>
                       <div class="num">
                         <h2>50<span>%</span></h2>
                       </div>
                 </div>
                     <h2 class="text">C++</h2>
               </div>
              </div>
 
          </div>
       </div>

      <div class="project-container">
        <h1 class="project-header">Проекти:</h1>
       
        <div class="cards-wrapper">
          <div class="card-main">
                  <a class="card-link">
                  <img class="image-card" src="assets/komar/resume/Screenshot.jpg" alt="">
                  <h3 class="card-title">Android Java</h3>
                  <p>Створений за допомогою Java калькулятор під Android</p>
                  </a>
          </div>

          <div class="card-main">
            <a class="card-link">
            <img class="image-card" src="assets/komar/resume/Hanon.jpg" alt="">
            <h3 class="card-title">Ханойська вежа</h3>
            <p>Гра Ханойська вежа на Java</p>
            </a>
          </div>

          <div class="card-main">
            <a class="card-link">
            <img class="image-card" src="assets/komar/resume/message.gif" alt="">
            <h3 class="card-title">Пошук повідомлень з тегами</h3>
            <p>Пошук повідомлень з тегами</p>
            </a>
          </div>

          <div class="card-main">
            <a class="card-link">
            <img class="image-card" src="assets/komar/resume/reg.jpg" alt="">
            <h3 class="card-title">AJAX-запити і форма реєстрації</h3>
            <p>Створення AJAX-запитів до веб-сервера на Java</p>
            </a>
          </div>
  </div>
        
         
      </div>
    </main>
       
    <footer class="footer">
        <div class="container-main">
            <div class="footer-row">

                <div class="footer-icons footer-col">
                    <p>Мои профили в социальных сетях:</p>
                    <div class="footer-icons-row">
                        <a>
                            <img src="assets/komar/icons/instagram.svg" alt="">
                        </a>
                        <a>
                            <img src="assets/komar/icons/facebook.svg" alt="">
                        </a>
                        <a href="https://github.com/silenceprog">
                            <img src="assets/komar/icons/github.svg" alt="">
                        </a>
                    </div>
                    <p><input type="date" name="calendar">
                </div>

                <div class="footers-contacts footer-col">
					 <p>
					Телефон: <span class="tel">+380632857349</span><br/>
					Email: <span class="email">silencecut@gmail.com</span>
					 </p>
                    <a class="footer-button">
                        Зв'язатись в телеграмі
                    </a>
                    <p>Зі мною можна зв'язатися за допомогою телеграма</p>
                       
                </div>
            </div>
        </div>
    </footer>   
   
</body>
</html>