<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>Резюме Комара Максима Леонідовича</title>
  <link rel="stylesheet" type="text/css" href="./komar.component.css" />

</head>

<body>
  <header class="header" id="header">
    <h1 class="header-title">Комар Максим</h1>
    <p class="header-subtitle">студент 3-ого курсу,інженер програмного забезпечення</p>
  </header>

  <main>
    <section class="resume" id="resume">
      <div class="container-main">
        <div class="container-educate">
          <h2 class="resume-header">Резюме</h2>
          <p>Освіта:</p>
          <p>Cherkasy State Technological University</p>
          <p><strong>Date:</strong> 2020 - 2023<br />
        </div>
      </div>
    </section>

    <div class="skills-container">
      <h1 class="project-header">Навички:</h1>

      <div class="container">
        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="num">
                <h2>70<span>%</span></h2>
              </div>
            </div>
            <h2 class="text">Java</h2>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="num">
                <h2>64<span>%</span></h2>
              </div>
            </div>
            <h2 class="text">C#</h2>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="num">
                <h2>53<span>%</span></h2>
              </div>
            </div>
            <h2 class="text">Python</h2>
          </div>
        </div>

        <div class="card">
          <div class="box">
            <div class="percent">
              <svg>
                <circle cx="70" cy="70" r="70"></circle>
                <circle cx="70" cy="70" r="70"></circle>
              </svg>
              <div class="num">
                <h2>68<span>%</span></h2>
              </div>
            </div>
            <h2 class="text">SQL</h2>
          </div>
        </div>

      </div>
    </div>

    <div class="project-container">
      <h1 class="resume-header">Проекти:</h1>

      <div class="cards-wrapper">
        <div class="card-main">
          <a href="https://github.com/silenceprog/Calculator" class="card-link">
            <img class="image-card" src="assets/komar/resume/Screenshot.jpg" alt="">
            <h3 class="card-title">Android Java</h3>
            <p>Створений за допомогою Java калькулятор під Android</p>
          </a>
        </div>

        <div class="card-main">
          <a href="https://github.com/silenceprog/Hanoi" class="card-link">
            <img class="image-card" src="assets/komar/resume/Hanon.jpg" alt="">
            <h3 class="card-title">Ханойська вежа</h3>
            <p>Гра Ханойська вежа на Java</p>
          </a>
        </div>

        <div class="card-main">
          <a href="https://github.com/silenceprog/ReactApp" class="card-link">
            <img class="image-card" src="assets/komar/resume/project4.png" alt="">
            <h3 class="card-title">Сайт вигаданої компанії</h3>
            <p>Сайт з блогом,сортуванням по даті і фільтруванні по категоріям на React</p>
          </a>
        </div>
        
        <div class="card-main">
          <a href="https://github.com/silenceprog/ShopFront" class="card-link">
            <img class="image-card" src="assets/komar/resume/site-book.png" alt="">
            <h3 class="card-title">AJAX-запити і форма реєстрації</h3>
            <p>Створення AJAX-запитів до веб-сервера на Java</p>
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container-main">
      <div class="footer-row">

        <div class="footer-icons footer-col">
          <p>Мої профілі в соціальних мережах:</p>
          <div class="footer-icons-row">
            <a href="https://www.instagram.com/op_rq_sil/">
              <img src="assets/komar/icons/instagram.svg" alt="">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100093129927130">
              <img src="assets/komar/icons/facebook.svg" alt="">
            </a>
            <a href="https://github.com/silenceprog">
              <img src="assets/komar/icons/github.svg" alt="">
            </a>
          </div>
          <p>
            Телефон: <span class="tel">+380632857349</span><br />
            Email: <span class="email">silencecut@gmail.com</span>
          </p>
        </div>

        <div class="footers-contacts footer-col">
          <a href="https://t.me/Silence_day" class="footer-button">
            Зв'язатись в телеграмі
          </a>
          <p>Зі мною можна зв'язатися за допомогою телеграма</p>

        </div>
      </div>
    </div>
  </footer>

</body>

</html>