*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

:root {
  --bg-color: hsla(17, 52%, 53%, 0.3);
  --libre-franklin-font: "Libre Franklin", sans-serif;
  --regular-font: 400;
  --semi-bold-font: 600;
  --bold-font: 700;
  --white-color: hsl(0, 0%, 100%);
  --gray-color: hsl(0, 0%, 20%);
  --second-bg: hsl(35, 100%, 98%);
  --pale-stat: hsl(35, 79%, 82%);
  --dark-stat: hsl(17, 52%, 53%);
}
html {
  font-size: 19px;
}

body {
  font-family: "Libre Franklin", sans-serif;
}
header .container {
  margin-top: 3%;
  margin-bottom: 5%;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container img {
  width: 200px;
  border-radius: 50%;
  margin: 10px;
}

.about-container {
  background-color: hsl(35, 79%, 80%);

  border-radius: 100px;
}

.about-container .about-block {
  display: flex;
  flex-direction: row;
}

.about-container .first-block {
  width: 57%;
}

.about-container .second-block {
  display: flex;
  justify-content: center;
}

.about-container .container {
  padding: 3% 0;
  margin: 0 15%;
}

.about-container h2 {
  text-align: center;
  margin-bottom: 4%;
}

.skills-container .container {
  padding: 3% 0;
  margin: 0 15%;
}

.skills-container h2 {
  text-align: center;
  padding-bottom: 3%;
}

.skills-container .direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skills-container .second-caption {
  padding-left: 25%;
}

.skills-container .js-item {
  padding-top: 2%;
}

.skills-container .css-item {
  padding-top: 2%;
}

.skills-container .react-item {
  padding-top: 2%;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(35, 79%, 80%);

  border-radius: 100px;
}

.portfolio-container .container {
  padding: 3% 0;
  margin: 0 15%;
}

.portfolio-container h2 {
  margin-bottom: 4%;
  text-align: center;
}

.portfolio-container h3 {
  margin-bottom: 4%;
  text-align: center;
}

.portfolio-container img {
  width: 1000px;
  border-radius: 100px;
}

.portfolio-container img:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.get-in-touch-container .container {
  padding: 3% 0;
  margin: 0 30%;
}

.link-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  justify-content: space-between;
}

.get-in-touch-container h2 {
  text-align: center;
}

.first-link-block {
  display: flex;
  flex-direction: column;
}

.second-link-block {
  display: flex;
  flex-direction: row;
}

.get-in-touch-container .second-link-block {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
  color: black;
  margin-bottom: 2%;
  font-weight: 600;
}
