<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./panko.component.css" />
  </head>
  <body>
    <div class="main-container">
      <header>
        <div class="container">
          <div class="text-container flex-column-dir">
            <h1 class="logo">Resume</h1>
            <img class="resume-photo" src="./../../../assets/panko/AP.jpg" />
            <h1>Panko Anastasiia</h1>
          </div>
        </div>
      </header>
      <main>
        <section class="about-container">
          <div class="container">
            <h2>About</h2>
            <div class="about-block">
              <div class="first-block">
                <p><b>Name:</b> Panko Anastasiia</p>
                <p><b>Age:</b> 19</p>
                <p>
                  I am interested in <b>front-end programming</b>. I use the
                  library React.
                </p>

                <p><b>Experience:</b></p>
                <p>Horodyshche school number 3, Cherkasy region 2009 - 2016</p>
                <p>
                  Horodyshche Economic Lyceum, economic direction, Cherkasy
                  region 2016 - 2020
                </p>

                <p>Cherkasy State Technological University 2020 - now</p>
              </div>
              <div class="second-block">
                <p><b>Hobbies:</b> Playing PC Games</p>
              </div>
            </div>
          </div>
        </section>
        <section class="skills-container">
          <div class="container">
            <h2>Skills</h2>
            <div class="direction">
              <div class="js-block">
                <h3 class="second-caption">JavaScript</h3>
                <div class="js-items">
                  <p class="js-item">Variables and Data Manipulation</p>
                  <p class="js-item">Arrays and Objects</p>
                  <p class="js-item">DOM Manipulation</p>
                  <p class="js-item">Events and Event Handling</p>
                  <p class="js-item">something in ES6+ and Modern JavaScript</p>
                  <p class="js-item">base Object-Oriented Programming</p>
                  <p class="js-item">Functional Programming</p>
                  <p class="js-item">Working with JSON</p>
                  <p class="js-item">JavaScript Frameworks</p>
                </div>
              </div>
              <div class="css-block">
                <h3 class="second-caption">CSS</h3>
                <div class="css-items">
                  <p class="css-item">Selectors and Specificity</p>
                  <p class="css-item">Box Model</p>
                  <p class="css-item">Layouts and Positioning</p>
                  <p class="css-item">Responsive Design</p>
                  <p class="css-item">Typography</p>
                  <p class="css-item">Colors and Backgrounds</p>
                  <p class="css-item">CSS Transitions and Animations</p>
                  <p class="css-item">CSS Grid</p>
                  <p class="css-item">CSS Flexbox</p>
                  <p class="css-item">CSS Media Queries</p>
                  <p class="css-item">CSS Resets and Normalize</p>
                  <p class="css-item">CSS Variables</p>
                </div>
              </div>
              <div class="react-block">
                <h3 class="second-caption">React</h3>
                <div class="react-items">
                  <p class="react-item">Components and Props</p>
                  <p class="react-item">State and Hooks Handling Events</p>
                  <p class="react-item">Conditional Rendering</p>
                  <p class="react-item">Lists and Keys</p>
                  <p class="react-item">Routing</p>
                  <p class="react-item">Styling React Components</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="portfolio-container">
          <div class="container">
            <h2>Portfolio</h2>
            <h3>My project on React</h3>
            <a
              href="https://github.com/AnastasiaPanko/Gorlyceum"
              target="_blank"
              ><img src="../../../assets/panko/website.png"
            /></a>
          </div>
        </section>
      </main>
      <footer>
        <section class="get-in-touch-container">
          <div class="container">
            <h2>Get in Touch</h2>
            <div class="link-blocks">
              <div class="first-link-block">
                <a class="link" href="https://github.com/AnastasiaPanko"
                  >GitHub</a
                >
                <a
                  class="link"
                  href="https://www.facebook.com/profile.php?id=100013170631475"
                  >Facebook</a
                >
                <a class="link" href="https://www.instagram.com/nastiapanko_/"
                  >Instagram</a
                >
              </div>
              <div class="second-link-block">
                <a class="link" href="mailto:anastasiaa.pankoo@gmail.com"
                  >Email:anastasiaa.pankoo@gmail.com</a
                >
                <a class="link" href="tel:+380964048772"
                  >Phone:+380(96)4048772</a
                >
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>
