<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./panko.component.css" />
  </head>
  <body>
    <div class="main-container">
      <header>
        <div class="container">
          <div class="text-container flex-column-dir">
            <h1 class="logo">Resume</h1>
            <img class="resume-photo" src="./../../../assets/panko/AP.jpg" />
            <h1>Panko Anastasiia</h1>
          </div>
        </div>
      </header>
      <main>
        <section class="about-container">
          <div class="container">
            <h2>About</h2>
            <p>
              <b>Name:</b> Panko Anastasiia<br />
              <b>Age:</b> 19<br />

              I am interested in front-end programming. I use the library React.
              I know how to use in <b>React</b>:
              <b
                >Components and Props, State and Hooks Handling Events,
                Conditional Rendering, Lists and Keys, Routing, Styling React
                Components </b
              ><br />

              I know how to use in <b>CSS</b>:
              <b
                >Selectors and Specificity, Box Model, Layouts and Positioning,
                Responsive Design, Typography, Colors and Backgrounds, CSS
                Transitions and Animations, CSS Grid, CSS Flexbox, CSS Media
                Queries, CSS Resets and Normalize, CSS Variables </b
              ><br />

              I know how to use in <b>JS</b>:
              <b
                >Variables and Data Manipulation, Functions, Arrays and Objects,
                DOM Manipulation, Events and Event Handling, something in ES6+
                and Modern JavaScript, Object-Oriented Programming, Functional
                Programming, Working with JSON, JavaScript Frameworks </b
              ><br />
              <b>Experience:</b><br />
              Horodyshche school number 3, Cherkasy region 2009 - 2016 <br />
              Horodyshche Economic Lyceum, economic direction, Cherkasy region
              2016 - 2020
              <br />
              Cherkasy State Technological University 2020 - now
              <br />
            </p>
          </div>
        </section>
        <section class="portfolio-container">
          <div class="container">
            <h2>Portfolio</h2>
            <h3>My project on React</h3>
            <a
              href="https://github.com/AnastasiaPanko/Gorlyceum"
              target="_blank"
              ><img src="../../../assets/panko/website.png"
            /></a>
          </div>
        </section>
      </main>
      <footer>
        <section class="get-in-touch-container">
          <div class="container">
            <h2>Get in Touch</h2>
            <div class="link-blocks flex-row-dir">
              <div class="first-link-block flex-column-dir">
                <a href="https://github.com/AnastasiaPanko">GitHub</a>
                <a
                  href="https://www.facebook.com/profile.php?id=100013170631475"
                  >Facebook</a
                >
                <a href="https://www.instagram.com/nastiapanko_/">Instagram</a>
              </div>
              <div class="second-link-block flex-column-dir">
                <p>pankooanastasiaa@gmail.com</p>
                <p>+380(96)4048772</p>
              </div>
            </div>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>
