<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins&display=swap" rel="stylesheet">
  <title>Shramenko Portfolio</title>
  
</head>
<body>
  <!-- Header -->
  <header>
    <h1>Шраменко Валерій</h1>
    <nav>
      <ul>
        <li><a href="shramenko/#about">About</a></li>
        <li><a href="shramenko/#skills">Skills</a></li>
        <li><a href="shramenko/#portfolio">Portfolio</a></li>
        <li><a href="shramenko/#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <!-- About Section -->
    <section id="about">
      <h2>About Me</h2>
      <p>Мене звати Валерій, я студент 3 курсу ЧДТУ групи ПЗ-2004. Займаюсь вдосконаленням навичок та розробкою Android додатків за допомогою Android Studio та мови програмування Kotlin. Також використовую в своєму середовищі Firebase SDK, Retrofit, Glide. </p>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <div class="skills-container">
          <div class="skill">
            <p>Kotlin</p>
          </div>
          <div class="skill">
            <p>Java</p>
          </div>
          <div class="skill">
            <p>C++</p>
          </div>
          <div class="skill">
            <p>CSS</p>
          </div>
          <div class="skill">
            <p>HTML</p>
          </div>
          <div class="skill">
            <p>JavaScript</p>
          </div>
        </div>
      </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
      <h2>Portfolio</h2>
      <div class="project">
        <img src="assets/shramenko/meals_menu.jpg" alt="Project 1">
        <h3>Meals Menu</h3>
        <p>Додаток, розроблений для Android, який показує дані, взяті з API з рецептами коктейлів. Розроблена за допомогою Kotlin, Retrofit, Glide та містить у собі інгрідієнти коктейлів та їхні пропорції. Також містить авторизацію та реєстрацію.</p>
      </div>
      <div class="project">
        <img src="assets/shramenko/cocktails.jpg" alt="Project 2">
        <h3>Alcohol menu</h3>
        <p>Додаток для Android з рецептами різних страв. Містить у собі повну технологію приготування страви. Розроблений за допомоги Kotlin, Android Studio, Rest API, Glide, має доволі зручний інтерфейс та пошукову систему</p>
      </div>
      <!-- Add more project sections as needed -->
    </section>

    
  </main>

  <!-- Footer -->
  <footer>
    <section id="contact">
        <h2>My Contacts</h2>
        <ul class="contacts-list">
          <li>
            <span class="contact-label">Email:</span>
            <a href="mailto:v.m.shramenko@gmail.com">v.m.shramenko@gmail.com</a>
          </li>
          <li>
            <span class="contact-label">Phone:</span>
            <a href="tel:+1234567890">+380632798534</a>
          </li>
          <li>
            <span class="contact-label">GitHub:</span>
            <a href="https://github.com/vmshramenko">GitHub Profile</a>
          </li>
        </ul>
    </section>
    <p>&copy; 2023 Valerii Shramenko</p>
  </footer>
</body>
</html>