<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>&copy; 2023 Група ПЗ-2004</p>
    </div>
    <div class="footer-right">
      <a href="https://github.com/NfolZordo/PZ-2004_Collective_work" target="_blank">
        <img src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/github-64.png" alt="GitHub icon">
      </a>
      <!-- <a href="https://telegram.org/" target="_blank">
            <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/335_Telegram_logo-64.png" alt="Telegram icon">
        </a> -->
    </div>
  </div>
</footer>