<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title></title>
</head>

<body>
  <div class="conteiner">
    <div class="header">
      <div class="photo">
        <img src="assets\kutsenko.png" />
      </div>
      <div class="author">
        <div class="info_box">
          <h2>Куценко Олег</h2>
          <p>
            <span> Очікувана посада: Веб-розробник</span>
          </p>
        </div>
      </div>
    </div>
    <hr>
    <div class="skills">
      <h3>Про мене </h3>
      <hr>
      <p>
        В вільний час від навчання займаюсь спортом ,вивчаю нові напрямки програмування.
      </p>
      <h3>Навчання</h3>
      <hr>
      <p>
        За 3 роки навчання в університеті вивчив багато напрямків веб розробки , займався веб дизайном , 3Д-моделюванням , написанням сайтів та веб-додатків .За період навчання працював з такими мовами як,Js,Ts,Java,C++,c#.
      </p>
      <h3>Досвід роботи</h3>
      <hr>
      <p>
        Коли проходив практику від університета , мав змогу працювати в компанії , в компанії займались веб-розробкой , під час проходження практики мав змогу спілкуватися з замовниками та працював з базами данних,за практику отримав дуже великиц досвід роботи в команді який дасть мені допомогу в майбутньому
      </p>
      

    </div>

  </div>
</body>
