<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт Портфолио</title>
    <link rel="stylesheet" href="krivko.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <!-- TITLE PAGE -->
    <div class="header-spacer">
        <div class="greeting-title">
            <h1 class="header-title">Daniil Kryvko</h1>
            <p class="header-subtitle">Developer`s portfolio & CV </p>
            <a (click)="goToCV()" class="header-arrow">
                <img src="assets\krivko\chevron-down.svg" alt="Arrow">
            </a>
        </div>
    </div>
    <div class="myVideo">
        <video autoplay muted loop id="myVideo" (load)="playVideo()">
            <source src="assets/krivko/video/video.mp4" type="video/mp4">
        </video>
        <div class="" filter-color="green">
        </div>
    </div>
    <!-- CV SECTION -->
    <div class="section__cv" id="section__cv">
        <!-- LEFT COLUMN -->
        <div class="section__column section__column--left">
            <div class="section__photo">
                <img src="assets\krivko\kryvko-avatar.jpg" alt="kryvko-avatar">
            </div>
            <div class="section__container-row">
                <span class="container-row--separator "><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                </span>
                <span class="container__paragraph paragraph--primary">Kryvko</span>
                <span class="container-row--separator ">____</span>
            </div>
            <div class="section__container-row container__header header--secondary">Daniil</div>
            <div class="section__container-row">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"
                    class="section__icon icon--primary"></mat-icon>
                <button>Contacts</button>
            </div>
            <div class="section__container-row">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"
                    class="section__icon icon--secondary"></mat-icon>
                <span class="container__paragraph paragraph--secondary">daniilkryvko@gfmail.com</span>
            </div>
            <!-- PROGRESS BAR 1: -->
            <div class="section__container-row">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="language"
                    class="section__icon icon--primary"></mat-icon>
                <span class="container__paragraph paragraph--primary"> Languages</span>
            </div>
            <div class="section__progress-bar">
                <div class="progress-bar__row">
                    <span class="container__paragraph paragraph--secondary ">English</span>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
                <div class="progress-bar__row">
                    <span class="container__paragraph paragraph--secondary ">Ukrainian</span>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
                <div class="progress-bar__row">
                    <span class="container__paragraph paragraph--secondary ">Russian</span>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
            </div>
            <!-- PROGRESS BAR 2: -->
            <div class="section__container-row">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="language"
                    class="section__icon icon--primary"></mat-icon>
                <span class="container__paragraph paragraph--primary"> Soft Skills & Experience</span>
            </div>
            <div class="section__progress-bar">
                
                <app-cv-card></app-cv-card>
                <app-cv-card></app-cv-card>

                <div class="progress-bar__row">
                    <span class="container__paragraph paragraph--primary">Creative coordination</span>
                    <span class="container__paragraph paragraph--secondary">*description*</span>
                </div>
                <div class="progress-bar__row">
                    <span class="container__paragraph paragraph--primary">Cooperation with the customer</span>
                    <span class="container__paragraph paragraph--secondary">*description*</span>
                </div>
                <div class="progress-bar__row">
                    <span class="container__paragraph paragraph--primary">Project management</span>
                    <span class="container__paragraph paragraph--secondary">*description*</span>
                </div>
                <div class="progress-bar__row">
                    <span class="container__paragraph paragraph--primary">Teamwork</span>
                    <span class="container__paragraph paragraph--secondary">*description*</span>
                </div>
            </div>
        </div>
        <!-- SEPARATOR LINE -->
        <div class="section__column section__column--separator"></div>
        <!-- RIGHT COLUMN -->
        <div class="section__column section__column--right">

        </div>
    </div>
</body>