body {
  --purple-primary: rgba(121, 69, 204, 0.903) !important;
  --dark-secondary: #373737aa !important;
  --dark-primary: #333 !important;

  --box-shadow: rgba(0, 0, 0, 0.3);

  
  background-color: var(--purple-primary);
  height: 100%;
}

.header-spacer {
  position: absolute;
  justify-items: center;
  top: 0;
  height: 64px;
  background-color: var(--dark-primary);
  max-width: inherit;
}

.greeting-title {
  width: 60rem;
  height: 15rem;
  position: sticky;
  top: 10rem;
  margin-top: 23%;
  background-color: var(--dark-secondary);
  color: azure;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8%;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100vh;
  font-family: "Google Sans", sans-serif, system-ui;
  background-color: var(--purple-primary);
}

.personal-info {
  width: 100%;
  height: 99vh;
  background-color: aliceblue;
}

#myVideo {
  display: block;
  outline: 0 0 1rem 0 solid red;

  max-width: 100% !important;
  size: inherit;
  position: relative;
  border-bottom: 1rem solid var(--purple-primary);
}

/* !!! CV SECTION !!! */

/* CV GENERAL SECTIONS */
.section__cv {
  width: 99%;
  border: 5px solid var(--purple-primary) !important;
  height: 101rem;
  margin: 0% 2%;

  display: flex;
  flex-direction: row;
}

.section__column {
  display: flex;
  flex-direction: column;
}

.section__column--left {
  flex-grow: 1;
  /* background-color: aqua; */
}

.section__column--right {
  flex-grow: 8.5;
  /* background-color: yellow; */
}

.section__column--separator {
  flex-grow: 0.3;
  background-color: var(--purple-primary);
  /* background-color: rgba(138, 74, 241, 0.356); */
}

/* LEFT SECTION/COLUMN */

.section__photo {
  width: 275px;
  height: 275px;
  align-self: center;
  margin-top: 1rem;
}

.section__photo img {
  /* image-rendering: optimizeQuality; */
  width: calc(100% - 100px);
  height: calc(100%);
  object-fit: cover;
  object-position: center;
  /* background-clip: border-box; */

  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--box-shadow);
}

.section__container-row {
  margin: 3% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.container-row--separator {
  /* background-color:var(--purple-primary); */
  /* height: 10px; */
  width: 2rem;
  
  /* border:  4px solid var(--purple-primary); */
}
