<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт Портфолио</title>
    <link rel="stylesheet" href="krivko.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header-spacer">
        <div class="greeting-title">
            <h1 class="header-title">Daniil Kryvko</h1>
            <p class="header-subtitle">Developer`s portfolio & CV </p>
        </div>
    </div>
    <div class="myVideo">
        <video autoplay muted loop id="myVideo" (load)="playVideo()">
            <source src="assets/krivko/video/video.mp4" type="video/mp4">
        </video>
        <header class="greeting-page" id="greeting-page">


            <!-- <a href="#portfolio" class="header-arrow">
            <img src="assets\krivko\chevron-down.svg" alt="Arrow">
        </a> -->
        </header>

        <div class="personal-info" filter-color="green">

        </div>
    </div>
</body>