<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins&display=swap" rel="stylesheet">
  <title>Stroganov Portfolio</title>
  
</head>
<body>
  <!-- Header -->
  <header>
    <h1>Yanosh Stroganov</h1>
    <nav>
      <ul>
        <li><a href="stroganov#about">About</a></li>
        <li><a href="stroganov#skills">Skills</a></li>
        <li><a href="stroganov#portfolio">Portfolio</a></li>
        <li><a href="stroganov#contact">Contact</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    <!-- About Section -->
    <section id="about">
      <h2>About Me</h2>
      <p>Hi, I`m Yanosh, recently studying programming in CHSTU Cherkasy, Ukraine, Love to work on front-end side making my part of the job practical and beautiful as much as possible. I have already worked on few projects such as websites for indie game developers and took participation in their projects as well.</p>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <div class="skills-container">
          <div class="skill">
            <p>React</p>
          </div>
          <div class="skill">
            <p>Java</p>
          </div>
          <div class="skill">
            <p>HTML</p>
          </div>
          <div class="skill">
            <p>CSS</p>
          </div>
          <div class="skill">
            <p>JavaScript</p>
          </div>
          <div class="skill">
            <p>Unreal Engine 4\5</p>
          </div>
        </div>
      </section>

    <!-- Portfolio Section -->
    <section id="portfolio">
      <h2>Portfolio</h2>
      <div class="project">
        <img src="assets/stroganov/react_indies.jpg" alt="Project 1">
        <h3>Website for Indies</h3>
        <p>Website is made using React framework and it serves main part of this guys needs such as teaser on title part of the page, news block to be in touch with their recent progress and achievements, about and detailed contact pages.</p>
      </div>
      <div class="project">
        <img src="assets/stroganov/clone_wars.jpg" alt="Project 2">
        <h3>Clone Wars</h3>
        <p>As previous one, this web-resource is made using React. This is fully functional copy of eponymous web-resource, Flat UI color. Every palette is unique, without any  repeats in colors. You can copy each one in HEX and both RGB and RGBa. Each time you click copy button plays calm sound alert with displaying what color you copied.</p>
      </div>
      <!-- Add more project sections as needed -->
    </section>

    
  </main>

  <!-- Footer -->
  <footer>
    <section id="contact">
        <h2>My Contacts</h2>
        <ul class="contacts-list">
          <li>
            <span class="contact-label">Email:</span>
            <a href="mailto:suslik22881@gmail.com">suslik22881@gmail.com</a>
          </li>
          <li>
            <span class="contact-label">Phone:</span>
            <a href="tel:+1234567890">+3806329XXXXX</a>
          </li>
          <li>
            <span class="contact-label">GitHub:</span>
            <a href="https://github.com/Tenchia">GitHub Profile</a>
          </li>
        </ul>
    </section>
    <p>&copy; 2023 Yanosh Stroganov</p>
  </footer>
</body>
</html>