.progress-bar__title {
    text-align: center;
    text-shadow: 1px 1px 1px #6b6b6b;
    color: #2ac2bd;
}

.progress-bar__percents {
    color: #ffffff;
    height: 20px;
    background-color: var(--sea);
    text-align: center;
}

.progress-bar__progress {
    height: 20px;
    border: 1px solid var(--sea);
    border-radius: 5px;
}