<div class="header-container">
    <mat-toolbar class="header">
        <div class="header-logo">
            <button mat-icon-button (click)="goToHomePage()" class="example-icon">
                <mat-icon>home</mat-icon>
            </button>
            <span class="logo">Collective work</span>
        </div>
        <!-- MUZ PLAYER: -->
        <div class="header-player">
            <mat-toolbar>
                <button mat-icon-button (click)="play(audioService)">
                    <mat-icon>{{ audioService.audio.paused ? 'play_arrow' : 'pause'}}</mat-icon>
                </button>
                <button mat-icon-button (click)="mute(audioService)">
                    <mat-icon>{{audioService.audio.volume ? 'volume_up' : 'volume_off'}} </mat-icon>
                </button>
                <mat-slider id="volumeSlider" (input)="volumeSlider($event)" color="blue" step="1" min="0" max="16">
                    <input matSliderThumb (input)="'volumeSlider($event)'" value="0">
                </mat-slider>
            </mat-toolbar>
        </div>
        <!-- LINKS: -->
        <div class="header-links">
            <a href="https://github.com/NfolZordo/PZ-2004_Collective_work" target="_blank">
                <img src="https://cdn4.iconfinder.com/data/icons/miu-black-social-2/60/github-64.png" alt="GitHub icon">
            </a>
        </div>
    </mat-toolbar>
</div>